VITE_FIREBASE_API_KEY=AIzaSyDe9TAz3pl0tiNqpIZZ0EQxmPEgMtf6kRA
VITE_FIREBASE_AUTH_DOMAIN=project-kassena-7e026.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=project-kassena-7e026
VITE_FIREBASE_STORAGE_BUCKET=project-kassena-7e026.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=111428711822
VITE_FIREBASE_APP_ID=1:111428711822:web:61fa4e33eb2cc0ea29a0df
VITE_FIREBASE_MEASUREMENT_ID=G-8LPL7S64CG
